// colors
$color-bg: #f1f1f1;
$color-white: #ffffff;
$color-card: #ffffff;
$color-border: #ccc;
$color-stroke: #F1F1F1;
$color-text: #1a1d1f;
$color-muted: #6f767e;
$color-primary: #346DF1;
$color-secondary: #ECF4FF;
$color-gray: #666666;
$color-aside-dark: #333333;
$color-aside-lightgray: #888888;
$color-orange: #F8B200;
$color-modal-dark: #0C1C60;

// spacing
$space-xs: 4px;
$space-sm: 8px;
$space-md: 16px;
$space-lg: 24px;
$space-xl: 32px;

// radius
$radius-desktop-card: 8px;
$radius-desktop-card-btn: 16px;
$radius-xs: 4px;
$radius-sm: 8px;
$radius-md: 12px;
$radius-lg: 16px;

// shadows
$shadow-card: 0 2px 8px rgba(0, 0, 0, 0.04);